<div class="container pb-3">
  <div class="card bg-transparent border-primary">
    <div class="card-header text-primary fw-bold">
      ¡Prepárate para una nueva aventura!
    </div>
    <div class="card-body">
      <p>
        Estamos en un viaje apasionante para llevar la lectura a una nueva
        dimensión.
      </p>
      <p>
        Imagina poder sumergirte en historias como nunca antes, interactuar con
        tus personajes favoritos, conectarte con autores y con otros lectores.
      </p>

      <ul>
        <li>Sigue de cerca a tus autores favoritos a través de los canales.</li>
        <li>Sistema de likes y comentarios.</li>
        <li>
          Experimenta la lectura de una forma totalmente nueva con nuestra
          función de lectura colectiva .
        </li>
        <li>¡Haz realidad tus historias con el creador/editor de historias!</li>
        <li>
          Sumérgete en la experiencia de la lectura con nuestro sistema
          gamificado. con niveles, experiencia, recompensas y mucho más.
        </li>
      </ul>
    </div>
  </div>

  <div class="card bg-transparent border-primary mt-3">
    <div class="card-body row">
      <a
        class="btn btn-lg col"
        href="{{socialNetworkLinks.IG}}"
        target="_blank"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        class="btn btn-lg col"
        href="{{socialNetworkLinks.FB}}"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        class="btn btn-lg col"
        href="{{socialNetworkLinks.YT}}"
        target="_blank"
      >
        <i class="bi bi-youtube"></i>
      </a>
    </div>
  </div>
</div>
