<div class="container pb-3">
  <div class="card bg-transparent border-primary">
    <div class="card-header text-primary">
      ¡Prepárate para una nueva aventura!
    </div>
    <div class="card-body">
      <p>
        Estamos en un viaje apasionante para llevar la lectura a una nueva
        dimensión.
      </p>
      <p>
        Imagina poder sumergirte en historias como nunca antes, interactuar con
        tus personajes favoritos, conectarte con autores y con otros lectores.
      </p>
    </div>
  </div>

  <!-- Future functionality check -->
  <div class="card bg-transparent border-primary my-3">
    <div class="card-header text-primary">Futuro</div>
    <div class="card-body">
      <ul>
        <li>Sigue de cerca a tus autores favoritos a través de los canales.</li>
        <li>Sistema de likes y comentarios.</li>
        <li>
          Experimenta la lectura de una forma totalmente nueva con nuestra
          función de lectura colectiva .
        </li>
        <li>¡Haz realidad tus historias con el creador/editor de historias!</li>
        <li>
          Sumérgete en la experiencia de la lectura con nuestro sistema
          gamificado. con niveles, experiencia, recompensas y mucho más.
        </li>
      </ul>
    </div>
  </div>

  <div class="card bg-transparent border-primary">
    <div class="card-header text-primary">¡Participa!</div>
    <div class="card-body">
      <p>
        Esto es solo el principio. Estamos trabajando de sol a sol para
        desarrollar nuevas funcionalidades a la plataforma.
      </p>
      <p>
        Sabemos que estamos en las primeras etapas, pero creemos firmemente en
        el poder de esta comunidad para dar forma al futuro de la lectura y la
        expresión literaria.
      </p>
      <p>
        Tu voz y tus ideas son fundamentales para nosotros. Contáctanos en
        nuestras redes sociales o envíanos un email a
        <span class="text-primary">{{supportEmail}}</span> para ser parte de
        esta increible historia de revolución literaria.
      </p>
    </div>
  </div>

  <div class="card bg-transparent border-primary mt-3">
    <div class="card-body row">
      <button class="btn btn-lg col">
        <i class="bi bi-instagram"></i>
      </button>
      <button class="btn btn-lg col">
        <i class="bi bi-facebook"></i>
      </button>
      <button class="btn btn-lg col">
        <i class="bi bi-youtube"></i>
      </button>
    </div>
  </div>
</div>
