<div class="container">
  <div class="card border-dark bg-transparent mb-3">
    <div class="card-header">Lector</div>
    <form [formGroup]="form" class="card-body">
      <!-- Light filter -->
      <h3 class="text-primary">Filtro de la luz</h3>
      <p>Activa o desactiva un filtro de luz sepia mientras se está leyendo.</p>
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >{{isLightFilterOn ? 'Activado' : 'Desactivado'}}</label
        >
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
          formControlName="lightFilter"
        />
      </div>

      <hr />
      <!-- font size-->
      <h3 class="text-primary">Tamaño de la letra</h3>
      <p>
        Aumenta o reduce el tamaño de la letra que se utiliza mientras se está
        leyendo una historia.
      </p>
      <input
        formControlName="fontSize"
        type="range"
        class="form-range bg-transparent"
        min="12"
        max="32"
        step="2"
        id="font-range"
      />
      <p
        class="w-100 text-end"
        [ngStyle]="{
          'font-size': fontSize+'px'
        }"
      >
        {{fontSize}}px
      </p>
    </form>
  </div>

  <!-- Danger zone -->
  <div class="card border-danger bg-transparent">
    <div class="card-header text-danger">Danger Zone</div>
    <div class="card-body">
      <!-- Delete local user data -->
      <p>
        Elimina todos los datos almacenados localmente referentes a los usuario.
        Las partidas guardadas <b>SE PERDERÁN</b> si se ejecuta esta acción.
      </p>
      <button class="btn btn-danger" (click)="onDeleteLocalData()">
        Eliminar datos locales
      </button>

      <hr />

      <!-- Delete downloaded/stored books -->
      <p>
        Elimina todos los libros descargados localmente y todo el material
        asociado. Las partidas guardadas <b>NO SE PERDERÁN</b> si se ejecuta
        esta acción.
      </p>
      <button class="btn btn-danger" (click)="onDeleteLocalBooks()">
        Eliminar libros descargados
      </button>
    </div>
  </div>
</div>
