:root {
  --bg-color: black;
}

body {
  background-color: var(--bg-color);
}

input {
  background-color: #333232 !important;
  border-color: #333232 !important;

  color: var(--demiurge-700) !important;

  height: 7vh;
}

input:focus {
  background-color: #333232 !important;
  border-color: var(--color-primary) !important;

  color: var(--color-primary) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6) !important;
}

button.btn-dark {
  background-color: transparent;
  height: 7vh;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

button.btn-dark:hover {
  border-color: var(--color-primary);
  background-color: transparent;
  color: var(--color-primary) !important;
}

button.btn-dark:active {
  background-color: var(--color-primary) !important;
}
