:root {
  --bg-color: black;
}

body {
  background-color: var(--bg-color);
  color: whitesmoke;
}

p,
ul,
li {
  color: whitesmoke;
}

.text-primary {
  color: var(--color-primary);
}

.border-primary {
  border-color: var(--color-primary) !important;
}
