<div id="back-btn-container" class="w-100">
  <button class="btn text-primary m-1" (click)="onBack()">
    <i class="bi bi-arrow-return-left"></i>
  </button>
</div>

@if(!currentChapter && !currentPage){
<p class="text-danger mt-5 text-center">
  Tuvimos un problema cargando su libro :( Por favor, intentelo de nuevo.
</p>
} @else if (currentChapter && !currentPage) {
<!-- CHAPTER MAIN PAGE -->
<div
  id="chapter-main"
  class="px-5 pt-5 text-center overflow-visible"
  bookstyles
  [bookId]="bookId"
>
  <h1 class="fw-bolder">{{ currentChapter.title }}</h1>
  <p class="fst-italic">{{ currentChapter.quote.text }}</p>
  <p>{{ currentChapter.quote.book }}<br />{{ currentChapter.quote.year }}</p>

  @for (option of currentChapter.options; track option.id) {
  <button class="btn btn-dark" (click)="loadPage(option)">
    {{ option.text | uppercase }}
  </button>
  }
</div>
} @else if (currentChapter && currentPage) {
<!-- NORMAL PAGE -->
<div id="chapter-page" class="px-4 py-3 pt-5" bookstyles [bookId]="bookId">
  @for (p of currentPage.paragraphs; track $index) {
  <p>{{p}}</p>
  }
  <div class="btn-group-options">
    @for (option of currentPage.options; track option.id) {
    <button class="btn btn-dark" (click)="loadPage(option)">
      {{ option.text | uppercase }}
    </button>
    }
  </div>
</div>
} @else {
<p class="text-center text-success">Capítulo cargado correctamente</p>
}
