p {
  color: black !important;
}

.btn-group-options {
  display: flex;
  flex-direction: column; /* Alinea los botones verticalmente uno encima del otro */
  justify-content: center; /* Centra verticalmente los botones */
  align-items: center; /* Centra horizontalmente los botones */
}

.btn-group-options button {
  height: 10vh;
  width: 45vw;
  margin-top: 1vh;
  display: block;
}

#back-btn-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

#chapter-page {
  min-height: 100vh;
  background-color: wheat;
}

.filter {
  filter: brightness(80%) contrast(80%) sepia(60%) grayscale(30%);
}
