@if(!currentChapter && !currentPage){
<p class="text-danger text-center">
  Tuvimos un problema cargando su libro :( Por favor, intentelo de nuevo.
</p>
} @else if (currentChapter && !currentPage) {
<!-- TITTLE -->
<div
  class="px-5 pt-3 text-center overflow-visible"
  bookstyles
  [book]="currentBook"
>
  <h1 class="fw-bolder">{{ currentChapter.title }}</h1>
  <p class="fst-italic">{{ currentChapter.quote.text }}</p>
  <p>{{ currentChapter.quote.book }}<br />{{ currentChapter.quote.year }}</p>

  @for (option of currentChapter.options; track option.id) {
  <button class="btn btn-dark" (click)="loadPage(option)">
    {{ option.text | uppercase }}
  </button>
  }
</div>
} @else if (currentChapter && currentPage) {
<!-- CONTENT -->
<div class="px-4 py-3">
  @for (p of currentPage.paragraphs; track $index) {
  <p>{{p}}</p>
  }
  <div class="btn-group-options">
    @for (option of currentPage.options; track option.id) {
    <button class="btn btn-dark" (click)="loadPage(option)">
      {{ option.text | uppercase }}
    </button>
    }
  </div>
</div>
} @else {
<p class="text-center text-success">Capítulo cargado correctamente</p>
}
