<div class="container pb-3">
  <div class="w-100 text-center m-3">
    <img id="mainicon" src="assets/icon-blazebook.svg" alt="app main icon" />
    <p>Version 1.1.0</p>
  </div>

  <div class="text-center row px-3">
    <button class="btn btn-lg btn-dark my-1" (click)="onBuyCoffee()">
      Compranos un café
    </button>
    <button class="btn btn-lg btn-dark my-1" (click)="onDonate()">Dona</button>
    <button class="btn btn-lg btn-dark my-1" (click)="onRateApp()">
      Valora nuestra app
    </button>
    <button class="btn btn-lg btn-dark my-1" (click)="onReportBug()">
      Reporta un bug
    </button>
  </div>

  <div class="fixed-bottom">
    <div class="card bg-transparent border-primary m-3">
      <div class="card-body row">
        <a
          class="btn btn-lg col"
          href="{{socialNetworkLinks.IG}}"
          target="_blank"
        >
          <i class="bi bi-instagram"></i>
        </a>
        <a
          class="btn btn-lg col"
          href="{{socialNetworkLinks.FB}}"
          target="_blank"
        >
          <i class="bi bi-facebook"></i>
        </a>
        <a
          class="btn btn-lg col"
          href="{{socialNetworkLinks.YT}}"
          target="_blank"
        >
          <i class="bi bi-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>
