<div class="vertical-center text-center">
  <div class="container">
    <form (ngSubmit)="loginUser()" class="my-5">
      <div class="form-group my-3">
        <input
          type="text"
          class="form-control text-center"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>
      <div class="form-group my-3">
        <input
          type="password"
          class="form-control text-center"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-dark w-100">Login</button>
      <p>Recuperar contraseña</p>
    </form>
  </div>
</div>
