<div class="vertical-center text-center">
  <div class="container fadein">
    <form (ngSubmit)="loginUser()" class="my-5" [formGroup]="form">
      <div class="form-group my-3">
        <input
          type="email"
          class="form-control text-center"
          formControlName="email"
          name="email"
          required
          [ngClass]="{'border-danger': email?.invalid && (email?.dirty || email?.touched)}"
        />
      </div>
      <div class="form-group my-3">
        <input
          type="password"
          class="form-control text-center"
          formControlName="pass"
          name="password"
          [ngClass]="{'border-danger': pass?.invalid && (pass?.dirty || pass?.touched)}"
          required
        />
      </div>
      <button type="submit" class="btn btn-dark w-100">Login</button>
      <p>
        <span (click)="onCreateNewUser()">Nueva cuenta</span> / Recuperar
        contraseña
      </p>
    </form>
  </div>
</div>
