<div class="container">
  <demi-card [config]="mainCard"></demi-card>

  <div class="d-flex flex-wrap justify-content-center">
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
    <demi-card [config]="secondaryCard"></demi-card>
  </div>
</div>
