.container {
  color: var(--color-white);
  text-align: justify;

  max-height: 40vh;
  overflow: auto;

  padding: 0;
}

.btn-detail-close {
  position: absolute;
  color: var(--color-primary);
  right: 0;

  z-index: 9;

  background: transparent;
  border: none;

  font-weight: bolder;
}
