<div class="w-100 text-end">
  <a class="btn btn-dark btn-create-user-close" (click)="onClose()">X</a>
</div>
<div class="text-center">
  <div class="container fadein">
    <form class="my-5" [formGroup]="form">
      <img src="assets/icon-blazebook.svg" alt="logo" width="80%" />
      <div class="form-group my-3">
        <input
          type="email"
          class="form-control text-center"
          name="email"
          placeholder="email"
          formControlName="email"
          [ngClass]="{
            'border-danger': email?.invalid && (email?.dirty || email?.touched)
          }"
        />
      </div>
      <div class="form-group my-3">
        <input
          type="email"
          class="form-control text-center"
          name="confirmEmail"
          formControlName="confirmEmail"
          placeholder="confirm email"
          [ngClass]="{
            'border-danger':
              confirmEmail?.invalid &&
              (confirmEmail?.dirty || confirmEmail?.touched)
          }"
        />
      </div>
      <div class="form-group my-3">
        <input
          type="password"
          class="form-control text-center"
          name="pass"
          placeholder="password"
          formControlName="pass"
          [ngClass]="{
            'border-danger': pass?.invalid && (pass?.dirty || pass?.touched)
          }"
        />
      </div>
      <div class="form-group my-3">
        <input
          type="password"
          class="form-control text-center"
          name="confirmPass"
          placeholder="confirm password"
          formControlName="confirmPass"
          [ngClass]="{
            'border-danger':
              confirmPass?.invalid &&
              (confirmPass?.dirty || confirmPass?.touched)
          }"
        />
      </div>
      <button class="btn btn-dark w-100" (click)="onCreateUser()">
        CREATE
      </button>
    </form>
  </div>
</div>
